body
{ background-color:powderblue;
}

h1{
	font-family:georgia;
}

h1{
	color: red;
}

p{
	font-family: georgia;
}

h1{
	text-align: center;
}

h1{
	font-size: 300%;
}

h2{
	color: blue;
}

h2{
	font-size: 300%;
}
h2{
	text-align: center;
}

}
p{
	text-align: center;
}

p{
	font-size: 100%;
}

button{
	font-size: 200%;
}

button{
	font-family: georgia;
}

h3{
	font-size: 300%;
}

h3{
	color: blue;
}

h3{
	text-align: center;
}

a{
	font-size: 300%;
}

a{
	color: brown;
}

h4{
	font-size: 300%;
}

h4{
	color: blue;
}

h4{
	text-align: center;
}

ul{
	text-align: center;
}

ul{
	font-size: 200%;
}
